/* sets background color and */
body {
    background-color: #e1bb6f;
    font-family: "Bebas Neue", Arial, sans-serif;
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
  }
  
  h1, h2, h3, h4 {
    font-family: "Bebas Neue", sans-serif;
  }

  main {
    max-width: 1000px ;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: auto;

  }